	   	body {
	   		background-color: #212529;
	   		color: #fff;
	   	}
	   	form {
	   		text-align: center;
	   		position: relative;
	   	}
	   	p{
	   		color: black;
	   		position: relative;
	   	}
	   	.title {
			text-align: center;
			width: 50%;
			margin: 20px;
	   	}
	   	input, textarea {
	   		width: 50px;
	   		min-width: 100px;
	   	}
	   	.row {
	   		/*text-align: center;	*/
	   	}
	   	.input-name {
	   		font-size: 50px;
	   	}
	   	.input-todo {
	   		font-size: 30px;
	   	}
	   	label {
			margin-left: 700px;
	   	}
	   	.created-by {
	   		text-align: left;
	   	}
		.list-todo {
			width: 100%;
		}

		.todo-text{
			color: #fff;
		}
		
		@media (max-width: 600px) {
		   	.input-name {
		   		font-size: 30px;
		   	}
		   	.input-todo {
		   		font-size: 10px;
		   	}		
		}
		@media (max-width: 800px) {
		   	.input-name {
		   		font-size: 20px;
		   	}
		   	.input-todo {
		   		font-size: 10px;
		   	}		
		}

		@media (max-width: 1000px) {
		   	.input-name {
		   		font-size: 20px;
		   	}
		   	.input-todo {
		   		font-size: 10px;
		   	}		

		}
		.row {
			margin-top: 20px;
		}